@import 'variables';
*{
  box-sizing: border-box;
}
html{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}
body{
  font-size: $font-size;
  font-family: $font-family;
  background-color: $background-color;
  color: $text-regular-color;
  margin:0;
  padding:0;
  overflow-x: hidden;
}
h1{
  text-align:center;
}
